<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
    <style>
        .container{
            background: #2d3e3f;
            width: 350px;
            height: 295px;
            padding-bottom: 20px;
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: auto;
            padding: 70px 50px 20px 50px;
        }

        .box{
            width: 360px;
            height: 35px;
            margin-top: 10px;
            font-size: 20px;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="box">
        <div class="fr" style="text-align: left;width: 100%; padding-bottom: 5px;">
            <button onclick="location.href='/goChat'" style="height:50px;text-align:center; font-size: 30px; width: 100%;">채팅</button>
        </div>
    </div>


    <div class="box">
        <div class="fr" style="text-align: left;width: 100%;padding-bottom: 5px;">
            <button onclick="location.href='/goCalendar'" style="height:50px;text-align:center; font-size: 30px; width: 100%;">캘린더</button>
        </div>
    </div>

    <div class="box">
        <div class="fr" style="text-align: left;width: 100%;padding-bottom: 5px;">
            <button onclick="location.href='/goTodo'" style="height:50px;text-align:center; font-size: 30px; width: 100%;">To Do List</button>
        </div>
    </div>
</div>
</body>
</html>